.container {
    margin: 100px auto;
    width: 70%;
    background-color: #b0c4de;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    padding: 8px;
    text-align: center;
}